body {
			margin: 0;
			padding: 0;
			font-family: Arial;
		}
		section {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: auto 1fr;
			grid-template-areas: 
				"header header header header header header header"
				"nav main main main main aside aside";
			min-height: 100vh;
		}
		header {
			grid-area: header;
			background-color: #404040;
			color: white;
			padding: 25px;
			/*text-align: center; hoş gözükmedi*/
		}
		nav {
			grid-area: nav;
			background-color: #c7c7c7;
			padding: 10px;
			min-width: 100px;
		}
		main {
			grid-area: main;
			padding: 10px;
		}
		aside {
			grid-area: aside;
		}
		nav a {
			display: block;
			padding: 5px;
			color: #404040;
			text-decoration: none;
		}
		nav a:hover {
			background-color: #adadad;
		}
		figure{
			padding: 1vw;
		}
		figure img {
			border: 15px solid #c7c7c7;
			height: 35vh;
			width: 30vw;
		}
		figcaption {
			text-align: center;
		}
		@media (max-width: 650px) {
			section {
				min-height: 0px;
				grid-template-columns: 1fr;
				grid-template-areas: 
					"header"
					"nav"
					"main"
					"aside";
			}
			figure img {
				
				border: 10px solid #ccc;
				height: 35vh;
				width: 65vw;
			}
		}